body {
  font-family: "Poppins", sans-serif;
}
h1,
h2 {
  font-size: 1.7em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.nav-header {
  background-color: #666a6e;
  a {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
  }
}
.heading-front{
  font-size: 1.5rem;
}
.article-heading {
  font-size: 1.2rem;
}